.navItem{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    margin:auto;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color:rgb(53, 53, 53);
    width: auto;
    height: auto;
    border-color: white;
    margin: 0px;
    margin-bottom: 10px;
}

body{
    margin:0px;
}